<ul id="form-errors" style="display: none;" class="error-list"></ul>
<form action="<%= url_for(controller: "/api/posts", action: 'create') %>" id="post-form" redirect_url="<%= url_for(action: 'index') %>">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <table>
    <tr>
      <td>Post name:</td>
      <td><input type="text" name="name" /></td>
    </tr>
    <tr>
      <td>Content:</td>
      <td><textarea name="content"></textarea></td>
    </tr>
  </table>
  <a href="<%= url_for action: "index" %>">Cancel</a>
  &nbsp;
  <button type="submit">Save</button>
</form>