<% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice] %>  
  </div>
<% end %>

<center>

  <% if author_signed_in? %>
    <div class="new-post">
      <ul id="form-errors" style="display: none;" class="error-list"></ul>
      <form action="<%= url_for(controller: "/api/posts", action: 'create') %>" id="post-form" redirect_url="<%= url_for(action: 'index') %>">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
        <table>
          <tr>
            <td>Post name:</td>
            <td><input type="text" name="name" /></td>
          </tr>
          <tr>
            <td>Content:</td>
            <td><textarea name="content"></textarea></td>
          </tr>
        </table>
        <button type="submit">Submit Post</button>
      </form>
    </div>

    <div id="post-loader" style="display: none;">Loading....</div>
  <% end %>

  <div id="post-list">
    <% if @posts %>
      <% @posts.each do |post| %>
        <div class="post">
          <h3><%= post.name %></h3>
          <p><%= post.content %></p>
          <span class="timestamp">By: <%= post.author.first_name %> <%= post.author.last_name %></span>
          <span class="timestamp">Created: Apr 13, 2017</span>

          <div class="comment-form">
            <form action="" class="new-comment">
              <h4>New Comment</h4>
              <input type="hidden" name="post_id" value="<%= post.id %>">
              <textarea name="content"></textarea>
              <br />
              <button>Submit</button>
            </form>
          </div>

          <div class="comments-list">
            <h4 class="title" style="<%= post.comments.count == 0 ? "display: none;" : ""%>"">Comments</h4>
            <ul class="all-comments">
              <% if post.comments.count > 0 %>
                <% post.comments.each do |comment| %> 
                  <li>
                    <%= comment.content %>
                    <div class="comment-info">
                      <i>By: <%= comment %></i>
                      -
                      <a href="" class="reply-link">Reply</a>
                    </div>
                    <form action="" class="reply-form">
                      <input type="hidden" name="comment_id" value="<%= comment.id %>">
                      <textarea name="content"></textarea>
                      <br />
                      <button>Submit</button>
                      &nbsp;|&nbsp;
                      <a href="" class="cancel-link">Cancel</a>
                    </form>
                    <ul class="sub-comments">
                      <% if comment.replies %>
                        <% comment.replies.each do |reply| %>
                          <li>
                            <%= reply.content %>
                            <div class="comment-info">
                              <i>By: <%#= comment %></i>
                            </div>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</center>