/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.flash-notice { color: green; border: 1px solid green; padding: 10px 10px; margin: 20px 0; }

table.list { border-left: 1px solid #ccc; border-top: 1px solid #ccc; width: 100%; }
table.list th { border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 5px 10px; font-weight: bold; }
table.list td { border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 5px 10px; }

.error-list { border: 1px solid red; padding: 10px 10px 10px 30px; }
.error-list li { color: red; padding: 0; margin: 0; }

.new-post { border: 1px solid #ccc; padding: 10px 20px; margin: 10px 0 0 0; width: 500px; text-align: left; }

.post { border: 1px solid #ccc; padding: 10px 20px; margin: 10px 0 0 0; width: 500px; text-align: left; }
.post h3 { margin: 0 0 10px 0; padding: 0; }
.post h4 { margin: 0; padding: 0; }
.post p { margin: 0 0 10px 0; padding: 0; }
.post .timestamp { font-style: italic; font-size: 12px; display: block; }

.post .comment-form { margin: 10px 0 0 0; padding: 10px 0; border-top: 1px dashed #ccc; }
.post .comments-list { margin: 10px 0 0 0; padding: 10px 0; }

#post-loader { border: 1px dashed green; padding: 10px 20px; margin: 10px 0 0 0; width: 500px; color: green; font-style: italic; border-radius: 5px; font-weight: bold; }

.reply-form { display: none; }

.all-comments  { margin: 0; padding: 0;  }
.all-comments > li { list-style-type: none; border: 1px solid #ccc; margin: 10px 0 0 0; padding: 10px 5px;  }

.sub-comments  {   }
.sub-comments > li { list-style-type: disc;  }

.comment-info { font-size: 12px; }