<!DOCTYPE html>
<html>
  <head>
    <title>AuthorPosts</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <a href="<%= url_for root_path %>">Home</a>
    <% if author_signed_in? %>
      &nbsp;|&nbsp;
      <a href="<%= url_for controller: "posts", action: "author_posts" %>">My Posts</a>
      &nbsp;|&nbsp;
      <%= link_to "Logout", destroy_author_session_path, method: :delete  %>
      &nbsp;|&nbsp;
      Welcome <%= current_author.first_name %>!
    <% else %>
      &nbsp;|&nbsp;
      <a href="<%= url_for new_author_session_path %>">Login</a>
      or
      <a href="<%= url_for new_author_registration_path %>">Register</a>
    <% end %>
    <hr />

    <%= yield %>

  </body>
</html>
